 <h1> <center> Journal </center> </h1>
    <p class="text-justify"> Have you ever wondered if you could store your journal on a website that would remind you your 
        intention every month. This website let you write a journal and store in a specific place. You can also let the application 
        make you email your journal to you on specific date. This is a project created by me. You can visit my website my clicking the know
        me button on the navigation bar. I am a web developer enthusiast. I love to write codes and learn about web application web development.
    </p>