<form action="/addform" method="POST">

  <div class="form-group">
    <label for="exampleInputEmail1"> <b> Today's Date : </b> </label>
    <input type="text" class="form-control" id="exampleInputEmail1" value={{date}} readonly>
  </div>

  <div class="form-group">
    <label for="titleinput"> <b> Title : </b> </label>
    <input type="text" class="form-control" id="titleinput" name="inputTitle" placeholder="Enter your Title" required>
  </div>

  <div class="form-group">
  <label for="textinput"><b> Your Journal : </b> </label>
  <textarea class="form-control" rows="15" cols="50" name="inputText" id="textinput" required> </textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form> 